In [1]:
#import required libraries
import sqlite3
import pandas as pd
from google.colab import drive
from tabulate import tabulate

#mount Google Drive
drive.mount('/content/drive')
db_path = "/content/drive/MyDrive/Applied_Data_Science/northwind.db"

Mounted at /content/drive

In [2]:
#connect to the Northwind database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

#fetch the tables names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

if not tables:
    print("No tables found in the database.")
else:
    print("Tables in the database:")

    for table in tables:
        table_name = table[0]
        print(f"\nTable: {table_name}")

        #fetch column info and attributes
        cursor.execute(f'PRAGMA table_info("{table_name}");')
        columns = cursor.fetchall()

        #print the tables, the columns and their attributes
        headers = ["Column ID", "Name", "Type", "NotNull", "Default Value", "Primary Key"]
        table_data = [[col[0], col[1], col[2], col[3], col[4], col[5]] for col in columns]
        print(tabulate(table_data, headers=headers, tablefmt="grid"))

Tables in the database:

Table: Categories
+-------------+--------------+---------+-----------+-----------------+---------------+
|   Column ID | Name         | Type    |   NotNull | Default Value   |   Primary Key |
+=============+==============+=========+===========+=================+===============+
|           0 | CategoryID   | INTEGER |         0 |                 |             1 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           1 | CategoryName | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           2 | Description  | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           3 | Picture      | BLOB    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+

Table: sqlite_sequence
+-------------+--------+--------+-----------+-----------------+---------------+
|   Column ID | Name   | Type   |   NotNull | Default Value   |   Primary Key |
+=============+========+========+===========+=================+===============+
|           0 | name   |        |         0 |                 |             0 |
+-------------+--------+--------+-----------+-----------------+---------------+
|           1 | seq    |        |         0 |                 |             0 |
+-------------+--------+--------+-----------+-----------------+---------------+

Table: CustomerCustomerDemo
+-------------+----------------+--------+-----------+-----------------+---------------+
|   Column ID | Name           | Type   |   NotNull | Default Value   |   Primary Key |
+=============+================+========+===========+=================+===============+
|           0 | CustomerID     | TEXT   |         1 |                 |             1 |
+-------------+----------------+--------+-----------+-----------------+---------------+
|           1 | CustomerTypeID | TEXT   |         1 |                 |             2 |
+-------------+----------------+--------+-----------+-----------------+---------------+

Table: CustomerDemographics
+-------------+----------------+--------+-----------+-----------------+---------------+
|   Column ID | Name           | Type   |   NotNull | Default Value   |   Primary Key |
+=============+================+========+===========+=================+===============+
|           0 | CustomerTypeID | TEXT   |         1 |                 |             1 |
+-------------+----------------+--------+-----------+-----------------+---------------+
|           1 | CustomerDesc   | TEXT   |         0 |                 |             0 |
+-------------+----------------+--------+-----------+-----------------+---------------+

Table: Customers
+-------------+--------------+--------+-----------+-----------------+---------------+
|   Column ID | Name         | Type   |   NotNull | Default Value   |   Primary Key |
+=============+==============+========+===========+=================+===============+
|           0 | CustomerID   | TEXT   |         0 |                 |             1 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           1 | CompanyName  | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           2 | ContactName  | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           3 | ContactTitle | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           4 | Address      | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           5 | City         | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           6 | Region       | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           7 | PostalCode   | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           8 | Country      | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|           9 | Phone        | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+
|          10 | Fax          | TEXT   |         0 |                 |             0 |
+-------------+--------------+--------+-----------+-----------------+---------------+

Table: Employees
+-------------+-----------------+---------+-----------+-----------------+---------------+
|   Column ID | Name            | Type    |   NotNull | Default Value   |   Primary Key |
+=============+=================+=========+===========+=================+===============+
|           0 | EmployeeID      | INTEGER |         0 |                 |             1 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           1 | LastName        | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           2 | FirstName       | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           3 | Title           | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           4 | TitleOfCourtesy | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           5 | BirthDate       | DATE    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           6 | HireDate        | DATE    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           7 | Address         | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           8 | City            | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           9 | Region          | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          10 | PostalCode      | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          11 | Country         | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          12 | HomePhone       | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          13 | Extension       | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          14 | Photo           | BLOB    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          15 | Notes           | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          16 | ReportsTo       | INTEGER |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|          17 | PhotoPath       | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+

Table: EmployeeTerritories
+-------------+-------------+---------+-----------+-----------------+---------------+
|   Column ID | Name        | Type    |   NotNull | Default Value   |   Primary Key |
+=============+=============+=========+===========+=================+===============+
|           0 | EmployeeID  | INTEGER |         1 |                 |             1 |
+-------------+-------------+---------+-----------+-----------------+---------------+
|           1 | TerritoryID | TEXT    |         1 |                 |             2 |
+-------------+-------------+---------+-----------+-----------------+---------------+

Table: Order Details
+-------------+-----------+---------+-----------+-----------------+---------------+
|   Column ID | Name      | Type    |   NotNull |   Default Value |   Primary Key |
+=============+===========+=========+===========+=================+===============+
|           0 | OrderID   | INTEGER |         1 |                 |             1 |
+-------------+-----------+---------+-----------+-----------------+---------------+
|           1 | ProductID | INTEGER |         1 |                 |             2 |
+-------------+-----------+---------+-----------+-----------------+---------------+
|           2 | UnitPrice | NUMERIC |         1 |               0 |             0 |
+-------------+-----------+---------+-----------+-----------------+---------------+
|           3 | Quantity  | INTEGER |         1 |               1 |             0 |
+-------------+-----------+---------+-----------+-----------------+---------------+
|           4 | Discount  | REAL    |         1 |               0 |             0 |
+-------------+-----------+---------+-----------+-----------------+---------------+

Table: Orders
+-------------+----------------+----------+-----------+-----------------+---------------+
|   Column ID | Name           | Type     |   NotNull |   Default Value |   Primary Key |
+=============+================+==========+===========+=================+===============+
|           0 | OrderID        | INTEGER  |         1 |                 |             1 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           1 | CustomerID     | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           2 | EmployeeID     | INTEGER  |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           3 | OrderDate      | DATETIME |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           4 | RequiredDate   | DATETIME |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           5 | ShippedDate    | DATETIME |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           6 | ShipVia        | INTEGER  |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           7 | Freight        | NUMERIC  |         0 |               0 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           8 | ShipName       | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|           9 | ShipAddress    | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|          10 | ShipCity       | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|          11 | ShipRegion     | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|          12 | ShipPostalCode | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+
|          13 | ShipCountry    | TEXT     |         0 |                 |             0 |
+-------------+----------------+----------+-----------+-----------------+---------------+

Table: Products
+-------------+-----------------+---------+-----------+-----------------+---------------+
|   Column ID | Name            | Type    |   NotNull | Default Value   |   Primary Key |
+=============+=================+=========+===========+=================+===============+
|           0 | ProductID       | INTEGER |         1 |                 |             1 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           1 | ProductName     | TEXT    |         1 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           2 | SupplierID      | INTEGER |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           3 | CategoryID      | INTEGER |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           4 | QuantityPerUnit | TEXT    |         0 |                 |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           5 | UnitPrice       | NUMERIC |         0 | 0               |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           6 | UnitsInStock    | INTEGER |         0 | 0               |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           7 | UnitsOnOrder    | INTEGER |         0 | 0               |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           8 | ReorderLevel    | INTEGER |         0 | 0               |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+
|           9 | Discontinued    | TEXT    |         1 | '0'             |             0 |
+-------------+-----------------+---------+-----------+-----------------+---------------+

Table: Regions
+-------------+-------------------+---------+-----------+-----------------+---------------+
|   Column ID | Name              | Type    |   NotNull | Default Value   |   Primary Key |
+=============+===================+=========+===========+=================+===============+
|           0 | RegionID          | INTEGER |         1 |                 |             1 |
+-------------+-------------------+---------+-----------+-----------------+---------------+
|           1 | RegionDescription | TEXT    |         1 |                 |             0 |
+-------------+-------------------+---------+-----------+-----------------+---------------+

Table: Shippers
+-------------+-------------+---------+-----------+-----------------+---------------+
|   Column ID | Name        | Type    |   NotNull | Default Value   |   Primary Key |
+=============+=============+=========+===========+=================+===============+
|           0 | ShipperID   | INTEGER |         1 |                 |             1 |
+-------------+-------------+---------+-----------+-----------------+---------------+
|           1 | CompanyName | TEXT    |         1 |                 |             0 |
+-------------+-------------+---------+-----------+-----------------+---------------+
|           2 | Phone       | TEXT    |         0 |                 |             0 |
+-------------+-------------+---------+-----------+-----------------+---------------+

Table: Suppliers
+-------------+--------------+---------+-----------+-----------------+---------------+
|   Column ID | Name         | Type    |   NotNull | Default Value   |   Primary Key |
+=============+==============+=========+===========+=================+===============+
|           0 | SupplierID   | INTEGER |         1 |                 |             1 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           1 | CompanyName  | TEXT    |         1 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           2 | ContactName  | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           3 | ContactTitle | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           4 | Address      | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           5 | City         | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           6 | Region       | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           7 | PostalCode   | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           8 | Country      | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|           9 | Phone        | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|          10 | Fax          | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+
|          11 | HomePage     | TEXT    |         0 |                 |             0 |
+-------------+--------------+---------+-----------+-----------------+---------------+

Table: Territories
+-------------+----------------------+---------+-----------+-----------------+---------------+
|   Column ID | Name                 | Type    |   NotNull | Default Value   |   Primary Key |
+=============+======================+=========+===========+=================+===============+
|           0 | TerritoryID          | TEXT    |         1 |                 |             1 |
+-------------+----------------------+---------+-----------+-----------------+---------------+
|           1 | TerritoryDescription | TEXT    |         1 |                 |             0 |
+-------------+----------------------+---------+-----------+-----------------+---------------+
|           2 | RegionID             | INTEGER |         1 |                 |             0 |
+-------------+----------------------+---------+-----------+-----------------+---------------+

In [4]:
#query to fetch all orders for year 2020
query_orders = """ SELECT o.OrderID, o.CustomerID, c.CompanyName, c.ContactName, o.OrderDate
                      FROM Orders AS o JOIN Customers AS c
                      ON o.CustomerID = c.CustomerID
                      WHERE o.OrderDate LIKE '%2020%'; """
orders_date = pd.read_sql_query(query_orders, conn)
print("Orders from year 2020")
orders_date_head = orders_date.head(25)
orders_date_head.set_index('OrderID', inplace=True)
print(tabulate(orders_date_head, headers='keys', tablefmt='grid'))

Orders from year 2020
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|   OrderID | CustomerID   | CompanyName                        | ContactName             | OrderDate           |
+===========+==============+====================================+=========================+=====================+
|     11087 | WANDK        | Die Wandernde Kuh                  | Rita Müller             | 2020-04-25 14:00:46 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11088 | PRINI        | Princesa Isabel Vinhos             | Isabel de Castro        | 2020-10-08 17:17:24 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11140 | Val2         | IT                                 | Val2                    | 2020-08-27 13:25:15 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11147 | RATTC        | Rattlesnake Canyon Grocery         | Paula Wilson            | 2020-05-28 02:47:24 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11152 | HILAA        | HILARION-Abastos                   | Carlos Hernández        | 2020-03-19 07:15:34 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11156 | OTTIK        | Ottilies Käseladen                 | Henriette Pfalzheim     | 2020-06-14 21:54:19 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11161 | SPECD        | Spécialités du monde               | Dominique Perrier       | 2020-01-12 21:55:05 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11167 | CACTU        | Cactus Comidas para llevar         | Patricio Simpson        | 2020-11-11 01:53:31 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11169 | MORGK        | Morgenstern Gesundkost             | Alexander Feuer         | 2020-10-27 23:26:34 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11190 | MORGK        | Morgenstern Gesundkost             | Alexander Feuer         | 2020-07-17 15:03:56 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11197 | PRINI        | Princesa Isabel Vinhos             | Isabel de Castro        | 2020-09-19 16:22:26 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11203 | ANATR        | Ana Trujillo Emparedados y helados | Ana Trujillo            | 2020-12-09 23:17:46 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11213 | LETSS        | Let's Stop N Shop                  | Jaime Yorres            | 2020-12-25 07:49:12 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11217 | PARIS        | Paris spécialités                  | Marie Bertrand          | 2020-08-08 06:04:20 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11223 | PRINI        | Princesa Isabel Vinhos             | Isabel de Castro        | 2020-08-25 03:37:15 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11228 | CACTU        | Cactus Comidas para llevar         | Patricio Simpson        | 2020-04-11 13:14:10 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11240 | ALFKI        | Alfreds Futterkiste                | Maria Anders            | 2020-12-27 13:13:57 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11242 | OCEAN        | Océano Atlántico Ltda.             | Yvonne Moncada          | 2020-03-26 00:21:42 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11249 | RATTC        | Rattlesnake Canyon Grocery         | Paula Wilson            | 2020-04-19 20:07:34 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11256 | DRACD        | Drachenblut Delikatessen           | Sven Ottlieb            | 2020-12-02 14:15:57 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11264 | SAVEA        | Save-a-lot Markets                 | Jose Pavarotti          | 2020-05-06 13:40:49 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11265 | FRANK        | Frankenversand                     | Peter Franken           | 2020-12-19 17:21:23 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11268 | WOLZA        | Wolski  Zajazd                     | Zbyszek Piestrzeniewicz | 2020-04-08 09:36:59 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11274 | FRANR        | France restauration                | Carine Schmitt          | 2020-03-05 04:37:04 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+
|     11277 | CACTU        | Cactus Comidas para llevar         | Patricio Simpson        | 2020-11-24 23:18:21 |
+-----------+--------------+------------------------------------+-------------------------+---------------------+

In [5]:
#query to fecth top 5 selling products
query_sales = """ SELECT od.ProductID, p.ProductName, SUM(od.UnitPrice * od.Quantity) AS Total
              FROM "Order Details" AS od JOIN Products AS p
              ON od.ProductID = p.ProductID
              GROUP BY od.ProductID
              ORDER BY Total DESC LIMIT 5; """
total_sales = pd.read_sql_query(query_sales, conn)
total_sales.set_index('ProductID', inplace=True)
print("\nTop 5 Products by Total Sales")
print(tabulate(total_sales, headers='keys', tablefmt='grid'))

Top 5 Products by Total Sales
+-------------+-------------------------+-------------+
|   ProductID | ProductName             |       Total |
+=============+=========================+=============+
|          38 | Côte de Blaye           | 5.32745e+07 |
+-------------+-------------------------+-------------+
|          29 | Thüringer Rostbratwurst | 2.46308e+07 |
+-------------+-------------------------+-------------+
|           9 | Mishi Kobe Niku         | 1.94246e+07 |
+-------------+-------------------------+-------------+
|          20 | Sir Rodney's Marmalade  | 1.66549e+07 |
+-------------+-------------------------+-------------+
|          18 | Carnarvon Tigers        | 1.26075e+07 |
+-------------+-------------------------+-------------+

In [6]:
#query to find the highest-selling employee
query_employee = """ SELECT e.EmployeeID, e.FirstName, e.LastName, e.Title, COUNT(o.OrderID) AS Total
                        FROM Employees AS e JOIN Orders AS o
                        ON e.EmployeeID = o.EmployeeID
                        GROUP BY e.EmployeeID
                        ORDER BY Total DESC LIMIT 1; """
highest_employee = pd.read_sql_query(query_employee, conn)
highest_employee.set_index('EmployeeID', inplace=True)
print("\nHighest-Selling Employee")
print(tabulate(highest_employee, headers='keys', tablefmt='grid'))

Highest-Selling Employee
+--------------+-------------+------------+----------------------+---------+
|   EmployeeID | FirstName   | LastName   | Title                |   Total |
+==============+=============+============+======================+=========+
|            4 | Margaret    | Peacock    | Sales Representative |    1908 |
+--------------+-------------+------------+----------------------+---------+